// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// importing separate styles
@import "variables";
@import "header";
@import "landing";
@import "features";
@import "aboutus";
@import "contact";
@import "footer";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 80%;
    margin: auto;
}
