.features {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0;
    width: 100%;

    img {
        width: 100px;
        max-height: 96px;
        padding: 10px;
    }

    &_cards {
        display: flex;
        justify-content: center;
        width: 100%;
        column-gap: 30px;
    }

    &_cards > div {
        display: flex;
        justify-content: flex-start;
        background-color: rgba($body-bg, 0.5);
        align-items: center;
        flex-direction: column;
        border-radius: 0.7rem;
        box-shadow: 0.05rem 0.2rem 0.4rem -0.03rem rgba(0, 0, 0, 0.45);
        width: 25%;
    }

    &_cards p {
        display: flex;
        padding: 15px;
        font-size: 17px;
        text-align: justify;
    }

    &_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 25px 0;
    }

    &_title p {
        font-size: 20px;
    }
}

.features_cards--accommodation,
.features_cards--food,
.features_cards--transport,
.features_cards--services {
    display: flex;
    text-align: center;
}

.features_cards--accommodation:hover,
.features_cards--food:hover,
.features_cards--transport:hover,
.features_cards--services:hover {
    background-color: $tertiaryColor;
    transform: scale(1.1);
}
