.footer {
    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $mainColor;

        nav {
            display: flex;
            width: max-content;
            font-size: 1.2rem;
            padding-top: 20px;

            ul {
                list-style: none;
                padding: 0;
                display: flex;
                column-gap: 30px;

                a {
                    text-decoration: none;
                    font-size: 22px;
                }
            }
        }
    }

    &__logo--leaflet {
        height: 50px;
        margin: 10px 0;
    }

    &__info {
        text-align: center;
        font-size: 1.2rem;
    }
}
