// Body
$body-bg: #f8fafc;
$primaryColor: #ba7735;
$secondaryColor: #efd091;
$tertiaryColor: #85aac5;
$quadriaryColor: #024f94;
$mainColor: #050814;

// Typography

$font-size-base: 0.9rem;
$line-height-base: 1.6;
