.leaflet-container {
    width: 79vw;
    height: 68vh;
    margin: auto;
    margin-bottom: 10px;
  }
  /* or */
  #map {
    width: 79vw;
    height: 68vh;
    margin: auto;
    margin-bottom: 10px;
  }
