.map {
    height: 500px;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
    height: 100%;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

body {
    margin: 0px;
}

.markercluster-map span {
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    display: inline-block;
    color: black;
    background-color: greenyellow;
    font-weight: bold;
    text-align: center;
    border-color: blue;
    border-style: solid;
    margin: auto;
    padding: 8.33px;
    font-size: 20px;
    opacity: 0.55;
    /* border opacity etc */
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.sr-only {
    display: none;
}

.markercluster-map {
  height: 90vh;;
  width: 90vh;
  background-color: #bbb;
  border-radius: 10px;
  display: inline-block;
}
